.dashboard {
    display: grid;
    grid: "map options" 35vh
          "map details" 40vh
          / 52vw auto;
    grid-gap: 1rem;
    width: 95vw;
    height: 100%;
    padding: 0.5rem;
    max-width: 1200px;
    margin-top: 5rem;
}

.map-panel {
    grid-area: map;
}

.options-panel {
    grid-area: options;
}

.details {
    grid-area: details;
}