/*.dashboard {*/
/*    display: grid;*/
/*    grid: "map options" auto*/
/*          "map details" 1fr*/
/*          / 52vw 30vw;*/
/*    grid-gap: 1rem;*/
/*    justify-content: center;*/
/*    padding: 0.5rem;*/
/*    max-width: 1200px;*/
/*    margin: 3rem 0;*/
/*}*/

.dashboard {
    display: grid;
    grid: "map options"
          "map details";
    grid-template-rows: auto 1fr;
    grid-template-columns: 52vw 30vw;
    grid-gap: 1rem;
    justify-content: center;
    padding: 0.5rem;
    max-width: 1200px;
    margin: 3rem 0;
}

.map-panel {
    grid-area: map;
}

.options-panel {
    grid-area: options;
}

.details {
    grid-area: details;
}

.details-with-options {
    height: calc(70vh + 6.8rem - 23.5rem);
}

.details-no-options {
    height: calc(70vh + 6.8rem - 5rem);
}

@media (max-width: 960px) {
    .dashboard {
        grid: "map"
              "options"
              "details";
        height: 90%;
    }
}