.options {
    align-self: flex-start;
    width: 100%;
}

.options__card {
    justify-content: flex-start;
}

.options__header {
    margin: 0;
}

.header-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.8rem;
}

.show-content-toggle {
    font-family: inherit;
    padding: 0.2rem 0.4rem;
}

.shared-content-option {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
}