.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.header {
    width: 100vw;
}

.background {
    background: url("./assets/pexels-daniel-smyth-12918223.jpg") center/cover;
    filter: sepia(50%);
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
}


