.form-elements {
    grid-template-columns: 1fr 1fr;
}

.form-elements-error {
    grid-template-columns: 1fr 1fr 1fr;
}

.form-elements,
.form-elements-error {
    display: grid;
    grid-row-gap: 0.5rem;
}

.buttons {
    display: flex;
    gap: 1.5rem;
}