.details--no-selection {
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
}

.details--selection {
    margin: 0;
    width: 100%;
}

.details__card--selection {
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: scroll;
    overflow-x: clip;
}

.details__header {
    margin: 0;
}

.info--minor {
    font-size: 0.8rem;
}

.info--important {
    font-weight: bold;
}

.info--date {
    margin: 0;
}

.info--important,
.info--main,
.info--minor {
    margin: 0.5rem 0 0.5rem 0;
}


